Django
djangorestframework
django-cors-headers
drf-yasg
Pillow
django-admin-interface
django-colorfield
openai>=2.33.0
python-dotenv
sentry-sdk[django]
dj-database-url
psycopg2-binary
whitenoise
boto3
django-storages[boto3]
autopep8
black
isort
paramiko
pytz
dj-database-url